In [35]:
import pandas as pd
import random as rd

In [2]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [3]:
pd.read_csv('sample.csv')

,0.000000000000000000e+00,1.000000000000000000e+00,2.000000000000000000e+00,3.000000000000000000e+00,4.000000000000000000e+00
0,5.0,6.0,7.0,8.0,9.0
1,10.0,11.0,12.0,13.0,14.0
2,15.0,16.0,17.0,18.0,19.0
3,20.0,21.0,22.0,23.0,24.0
4,25.0,26.0,27.0,28.0,29.0
...,...,...,...,...,...
199994,999975.0,999976.0,999977.0,999978.0,999979.0
199995,999980.0,999981.0,999982.0,999983.0,999984.0
199996,999985.0,999986.0,999987.0,999988.0,999989.0
199997,999990.0,999991.0,999992.0,999993.0,999994.0
199998,999995.0,999996.0,999997.0,999998.0,999999.0

# Data Frames

In [5]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [6]:
pd.DataFrame([5,6,7])

   0
0  5
1  6
2  7

In [7]:
pd.DataFrame([[5,6,7],[5,6,7],[5,6,7],[5,6,7]])

   0  1  2
0  5  6  7
1  5  6  7
2  5  6  7
3  5  6  7

In [8]:
x = pd.DataFrame([[5,6,7],[5,6,7],[5,6,7],[5,6,7]], columns=["first",'second','third'])

In [9]:
x['first']

0    5
1    5
2    5
3    5
Name: first, dtype: int64

In [10]:
x['second'][2]

6

In [11]:
x.head(2)  # shows number of rows from the head

   first  second  third
0      5       6      7
1      5       6      7

In [25]:
x.tail(2)  # shows number of roofs from the bottom

   first  second  third
2      5       6      7
3      5       6      7

In [27]:
x

   first  second  third
0      5       6      7
1      5       6      7
2      5       6      7
3      5       6      7

In [29]:
x.iloc[1:,0]

1    5
2    5
3    5
Name: first, dtype: int64

In [33]:
x.iloc[:,2]

0    7
1    7
2    7
3    7
Name: third, dtype: int64

In [39]:
x.iloc[:,rd.choice([0,1,2])]

0    6
1    6
2    6
3    6
Name: second, dtype: int64

In [41]:
x.to_csv("ankush.csv")

In [45]:
x.to_csv("kp.csv", index=False)